* {
  box-sizing: border-box;
}

html {
	width: 100%;
	margin: auto;
}

.main-wrapper {

}
/* NAV BAR
============================*/
header {
	width: 100%;
	margin: auto;
	border-bottom: solid 0.1em black;
	position: fixed;
	z-index: 100;
	background: white;
	text-align: center;

}

#tree {
  border-bottom: solid 0.1em black;
}

.logo {
	background: white;
	display: block;
	padding: 20px;
	text-align: center;

}

.nav-bar ul,
.nav-bar li {
	display: inline-block;
	padding: 20px;
}

.nav-bar li {
	border-bottom: 0.15em solid #561700;

	border-radius: 2px;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 8px;
	box-shadow: -0.5px -0.5px 3px #E2D9D2;
	color: orange;
	background: white;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

li:hover {
  transform: matrix(1.1, 0, 0, 1.1, 1, 0);
  transition-timing-function: cubic-bezier(.17,.67,.56,.97);

}



/* CONTENT
============================*/

.main-block {
	background: white;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}

.primary-content {
	display: inline;
	width: 60%;
}

.secondary-content {
	display: inline;
	width: 40%;

}

hr {
	background: black;
}

/* FOOTER
====================================*/

.wrap {
	height: 100vh;
}
footer {
	background: grey;
	padding: 20px;
}
