* {
  box-sizing: border-box;
}

html {
	width: 100%;
	margin: auto;
}

.wrap {
  height: 100%;

}
/* NAV BAR
============================*/
header {
	width: 100%;
	margin: auto;
	border-bottom: solid 0.1em black;
  position: fixed;
	background-color: transparent;
	text-align: center;

}

#tree {
  border-bottom: solid 0.1em black;
}

.logo {
	background: white;
	display: block;
	padding: 20px;
	text-align: center;

}

.nav-bar ul,
.nav-bar li {
	display: inline-block;
	padding: 30px;
}

.nav-bar li {
	border-left: 0.15em solid #FF9343;
  border-radius: 2px;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 5px 15px 5px 15px;
	color: orange;
	background: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

li:hover {
  transform: matrix(1.1, 0, 0, 1.1, 1, 0);
  transition: -webkit-transform 0.1s cubic-bezier(.66,-0.59,.41,1.42);
}

.nav-bar li:hover {

}

/* CONTENT
============================*/

body {
  background: #EDEDED;
}

.main-block {
	background: white;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
  padding: 2em;
}

.primary-content {
	display: inline;
	width: 60%;
}

.secondary-content {
	display: inline;
	width: 40%;

}

hr {
	background: black;
}

/* FOOTER
====================================*/


footer {
	background: grey;
	padding: 20px;
  position: relative;
